<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    Scout
  </a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">
    {{#if isloggedin}}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Username here</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" id="logout">Logout</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a class="btn btn-lg btn-success nav-link" type="button" data-toggle="modal" data-target="#user-info" id="login">Login</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> modal/login }}