{{#each this}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">petname</h5>
        <h6 class="card-subtitle mb-2 text-muted">pettype</h6>
        <p class="card-text">aboutpet</p>
    </div>
    <button class="btn btn-lg btn-success" type="button" data-toggle="modal" data-target="#exampleModal">New job</button>
</div>
{{/each}}

{{!-- {{#each pet}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ pet.pet_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ pet.pet_type }}</h6>
        <p class="card-text">{{ pet.description }}</p>
    </div>
    <button class="btn btn-lg btn-success" type="button" data-toggle="modal" data-target="#exampleModal">New job</button>
</div>
{{/each}} --}}

